@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<div class="container-xxl">
        <div class="animate__animated animate__fadeInLeft col-3 BACK-pink">
            <div class='title wh'>

                <p class='animate__animated animate__fadeInLeft animate__delay-1s font-1'> BRING </p>
                <p class='animate__animated animate__fadeInLeft animate__delay-1s font-1'> ME </p>
                <p class='animate__animated animate__fadeInLeft animate__delay-1s font-1'> THE </p>
                <p class='animate__animated animate__fadeInLeft animate__delay-1s font-1'> HORIZON </p>
                <hr />
                <p>ALL MEMBER OF BRING ME THE HORIZON</p>
                <a class="btn button-4 animate__animated animate__fadeInLeft nimate__delay-1s" href="http://localhost:3000/Member" role="button">M E M B E R </a>
                <a class="mt-2 btn button-4 animate__animated animate__fadeInLeft nimate__delay-1s" href="http://localhost:3000/about" role="button"> A B O U T </a>
                <br /><br /><br />
            </div>
        </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
